@import 'src/app/variables.scss';

.company {
  flex: 0 0 250px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.period {
  color: rgba(var(--primary-text), 0.75);
  text-transform: uppercase;
  letter-spacing: .5px;
  font-size: 14px;
  margin-bottom: 8px;
  font-weight: 400;
}

.name {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--primary-text);
  line-height: 1.2;
}

.icon {
  border-radius: 12px;
}

@media (max-width: #{$breakpoint-tablet}) {
  .company {
    flex: 0 0 100px;
  }
}

@media (max-width: #{$breakpoint-mobile}) {
  .company {
    flex: none;
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 20px;
  }
  
  .iconWrapper {
    margin-top: 0;
  }
  
  .icon {
    width: 40px;
    height: 40px;
  }
}