@import 'src/app/variables.scss';

.main {
  padding: 180px 0px 0px 0px;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
  align-items: center;
}

@media (max-width: #{$breakpoint-desktop}) {
  .main {
    padding: 112px 100px 0px 100px;
  }
}

@media (max-width: #{$breakpoint-tablet}) {
  .main {
    padding: 112px 100px 0px 100px;
  }
}

@media (max-width: #{$breakpoint-mobile}) {
  .main {
    padding: 112px 28px 0px 28px;
  }
}