@import 'src/app/variables.scss';

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 150px;
  
  &__container {
    display: flex;
    justify-content: center;
  }

  &__title {
    text-align: center;
    font-weight: 600;
    max-width: 1200px;
    line-height: 1.375;
    font-size: clamp(1rem, 3.75rem, 3.75rem);
    margin-bottom: 12px;
  }

  &__subtitle {
    font-size: 1.25rem;
    display: flex;
    gap: 12px;
    margin-top: 24px;
    font-weight: 400;
    opacity: 0;
    background: #FFFFFF;
    background: linear-gradient(-3deg, rgba(255, 255, 255, 1) 0%, rgba(185, 185, 185, 1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    align-items: center;
  }

  &__word {
    opacity: 0;
    display: inline-block;
  }

  &__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 20%;
    -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
  }

  &__imageContainer {
    position: relative;
    border-radius: 8px;
    overflow: visible;
    cursor: pointer;
  }

  &__image {
    border-radius: 16px;
    z-index: 2;
    position: relative;
    width: 64px;
    height: 32px;
  }

  &__actions {
    opacity: 0;
    gap: 18px;
    display: flex;
    position: relative;
    margin-top: 62px;
  }

  &__button {
    padding: 12px 34px;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.1);
      transform: translateX(-100%);
      transition: transform 0.3s ease;
    }

    &:hover::before {
      transform: translateX(0);
    }

    &_primary {
      background: var(--primary-gradient);
      border: none;
    }

    &_secondary {
      border: 1px solid rgba(255, 255, 255, 0.35);
      background: transparent;
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }
}

@media (max-width: #{$breakpoint-mobile}) {
  .hero__title {
    text-align: start;
    font-size: 36px;
  }
  .hero__subtitle {
    font-size: 18px;
  }
  .hero__actions {
    width: 100%;
    margin-top: 32px;
  }
  .hero__button {
    height: 45px;
    font-size: 14px;
  }
  .hero__button_secondary {
    gap: 4px;
  }
}