@import "tailwindcss";

:root {
  --primary: 255, 255, 255;
  --secondary: #000000;
  --primary-rgb: 255, 255, 255;
  --secondary-rgb: 0, 0, 0;
  --accent: #6B7AFA;
  --background: linear-gradient(-90deg,rgba(33, 33, 33, 1) 25%, rgba(62, 4, 113, 1) 100%);
  --foreground: #ffffff;
  --primary-gradient: linear-gradient(60deg, rgba(108, 10, 153, 1) 15%, rgba(180, 17, 255, 1) 80%);
  --divider-gradient-180deg: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(180, 17, 255, 1) 100%);
  --divider-gradient-240deg: linear-gradient(240deg, rgba(0, 0, 0, 0) 0%, rgba(180, 17, 255, 1) 100%);
  --lucide-fill: #ffffff;
  --lucide-fill-reverse: #000000;
  --primary-text: 255, 255, 255;
  --secondary-text: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  /** Soon */
  :root {
    --background: #121212;
    --foreground: #ffffff;
  }
}

body {
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-gutter: stable;
}

body {
  color: var(--foreground);
  background: -webkit-linear-gradient(-90deg, rgba(33, 33, 33, 1) 25%, rgba(62, 4, 113, 1) 100%); /* iOS prefixed */
  background: linear-gradient(-90deg, rgba(33, 33, 33, 1) 25%, rgba(62, 4, 113, 1) 100%); /* Standard */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.globals {
  &_text-gradient {
    background: var(--primary-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

/** Lucide styles */
.lucide {
  &.fill {
    fill: var(--lucide-fill);
    stroke-width: 0px;

    &-reverse {
      fill: var(--lucide-fill-reverse);
    }

    &-accent {
      fill: var(--accent);
      stroke: var(--accent);
    }
  }
}

/** Scroll */
::-webkit-scrollbar {
  width: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--accent); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--accent); 
}
