.header {
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  right: 28px;
  margin-inline: auto;
  width: fit-content;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  width: 1150px;

  &__actions {
    display: flex;
    justify-self: end;
    align-items: center;
    gap: 24px;
  }

  &__logo {
    display: flex;
    font-size: 28px;
    font-weight: 600;
  }

  &__nav {
    padding: 14px 34px;
    border-radius: 16px;
    backdrop-filter: blur(4px);
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 16px;
      padding: 1px;
      background: var(--primary-gradient);
      -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
      pointer-events: none;
    }

    &_list {
      display: flex;
      gap: 20px;
    }

    &_item {
      font-size: .875rem;
      transition: all 0.3s ease;
      position: relative;
      padding-bottom: 2px;
      cursor: pointer;
      
      &::after {
        content: '';
        position: absolute;
        width: 0;
        height: 2px;
        bottom: -2px;
        left: 0;
        background: var(--primary-gradient);
        transition: width 0.3s ease;
      }
      
      &:hover {        
        &::after {
          width: 100%;
        }
      }
    }
  }
}