.chatbot {
  &__message {
    margin-bottom: 12px;
    padding: 12px 16px;
    border-radius: 12px;
    max-width: 80%;
    word-wrap: break-word;
    
    &--user {
      align-self: flex-start;
      background-color: rgba(var(--secondary-rgb), 0.05);
      color: var(--secondary);
      margin-right: auto;
    }
    
    &--bot {
      align-self: flex-end;
      background-color: var(--accent);
      color: white;
      margin-left: auto;
    }
  }
  
  &__messageText {
    display: inline;
    word-wrap: break-word;
    white-space: pre-wrap;
  }
  
  &__waiting {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    
    span {
      display: inline-block;
      width: 8px;
      height: 8px;
      background-color: white;
      border-radius: 50%;
      margin: 0 2px;
    }
  }
}