.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  
  &__container {
    display: flex;
    justify-content: center;
  }

  &__title {
    text-align: center;
    font-weight: 600;
    max-width: 1200px;
    font-size: 3.75rem;
  }

  &__subtitle {
    font-size: 1.25rem;
    display: flex;
    gap: 12px;
    margin-top: 28px;
    font-weight: 400;
    opacity: 0;
    background: #FFFFFF;
    background: linear-gradient(-3deg, rgba(255, 255, 255, 1) 0%, rgba(185, 185, 185, 1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__word {
    opacity: 0;
    display: inline-block;
  }

  &__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 15%;
    -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
  }

  &__image {
    border-radius: 8px;
  }

  &__actions {
    opacity: 0;
    gap: 18px;
    display: flex;
    position: relative;
    right: 12px;
    margin-top: 62px;
  }

  &__button {
    padding: 12px 34px;
    font-weight: 500;
    border-radius: 8px;

    &_secondary {
      border: 1px solid rgba(255, 255, 255, 0.35);
    }
  }
}