.footer {
  background-color: #1A1A1A;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 0.3fr 1fr;
  grid-template-rows: 1fr 0.55fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  &__section {
    padding: 20px 50px;
    display: flex;
    justify-content: end;
    align-items: end;

    &--intro {
      display: flex;
      padding: 36px;
      grid-area: 1 / 1 / 2 / 2;
      border-right: 1px solid rgba(var(--primary), 0.1);
      border-bottom: 1px solid rgba(var(--primary), 0.1);
      font-size: 8rem;
      justify-content: end;
      align-items: end;
    }

    &--empty-1 {
      grid-area: 1 / 2 / 2 / 3;
      border-bottom: 1px solid rgba(var(--primary), 0.1);
    }

    &--empty-2 {
      grid-area: 2 / 2 / 3 / 3;
    }

    &--empty-3 {
      grid-area: 2 / 3 / 3 / 4;
      border-left: 1px solid rgba(var(--primary), 0.1);
      border-bottom: 1px solid rgba(var(--primary), 0.1);
    }

    &--empty-4 {
      grid-area: 3 / 2 / 4 / 3;
      border-right: 1px solid rgba(var(--primary), 0.1);
      border-top: 1px solid rgba(var(--primary), 0.1);
    }

    &--socials {
      display: flex;
      align-items: end;
      justify-content: start;
      padding: 32px 40px 32px 40px;
      grid-area: 1 / 3 / 2 / 4;
      border-left: 1px solid rgba(var(--primary), 0.1);
      border-bottom: 1px solid rgba(var(--primary), 0.1);
    }

    &--contact {
      grid-area: 2 / 1 / 3 / 2;
      border-right: 1px solid rgba(var(--primary), 0.1);
      border-bottom: 1px solid rgba(var(--primary), 0.1);
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 8px;
    }

    &--navigation {
      display: flex;
      justify-content: end;
      padding: 32px 40px 40px 32px;
      gap: 100px;
      align-items: start;
      text-align: end;
      grid-area: 3 / 1 / 4 / 2;
      border-right: 1px solid rgba(var(--primary), 0.1);
    }

    &--message {
      grid-area: 3 / 3 / 4 / 4;
      padding: 32px 40px 40px 32px;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: space-between;
    }
  }

  &__title {
    line-height: 1;
    font-weight: 600;
  }

  &__list {
    font-size: 32px;
    display: flex;
    gap: 32px;
  }

  &__contact {
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    gap: 8px;
  }

  &__column {
    display: flex;
    flex-direction: column;
  }

  &__heading {
    margin-bottom: 24px;
    font-weight: 500;
  }

  &__itemslist {
    gap: 8px;
    display: flex;
    flex-direction: column;
  }

  &__link {
    color: rgba(var(--primary), 0.5);
  }

  &__phone {
    color: rgba(var(--primary), 0.5);
  }

  &__text {
    line-height: 1.6;
    font-size: 1.875rem;
  }

  &__scroll {
    display: flex;
    gap: 18px;
    font-weight: 200;

    &Icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 28px;
      height: 28px;
      background-color: rgb(var(--primary));
      border-radius: 100%;
      color: var(--secondary);
    }
  }
}