@import 'src/app/variables.scss';

.skills {
  display: flex;
  flex-direction: column;
  margin-bottom: 200px;

  &__techContainer {
    display: flex;
    gap: 14px;
    max-width: 1064px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

.skillsHeader {
  margin-bottom: 28px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__label {
    font-size: 0.875rem;
    text-transform: uppercase;
    color: rgba(var(--primary-text), 0.75);
    margin-bottom: 14px;
  }

  &__title {
    position: relative;
    font-size: 3.75rem;
    font-weight: 600;
    z-index: 1;
    margin-bottom: 20px;
  }

  &__divider {
    width: 600px;
    height: 6px;
    flex-shrink: 0;
    background: var(--divider-gradient-240deg);
    border-radius: 8px;
    overflow: hidden;
  }
}

@media (max-width: #{$breakpoint-desktop}) {
  .skills {
    margin-bottom: 64px;
    padding: 0 8px;

    &__techContainer {
      gap: 8px;
      max-width: 100%;
      justify-content: flex-start;
    }
  }

  .skillsHeader {
    margin-bottom: 18px;

    &__label {
      font-size: 0.75rem;
      margin-bottom: 8px;
    }

    &__title {
      font-size: 2.75rem;
      margin-bottom: 10px;
    }

    &__divider {
      width: 100px;
      height: 4px;
    }
  }
}